[user]
	signingkey = 9A48ECE101215A8E
	name = Ashish Saini
	email = sainiashish08@gmail.com
[core]
	autocrlf = input
[init]
	defaultBranch = main
[credential]
	helper = /usr/share/doc/git/contrib/credential/libsecret/git-credential-libsecret
[commit]
	gpgsign = true
